<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @event_category.name %>
</p>

<%= link_to 'Editar', edit_event_category_path(@event_category) %> |
<%= link_to 'Atrás', event_categories_path %>
