<p>
  <strong>Detalle:</strong>
  <%= @event.Detail %>
</p>



<%= link_to 'Editar', edit_event_category_event_path(@event.event_category,@event_category) %> |
<%= link_to 'Atrás', event_category_path(@event_category) %>
