<p>
  <strong>Nombre:</strong>
  <%= @branch_office.name %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @branch_office.city %>
</p>

<%= link_to 'Editar', edit_branch_office_path(@branch_office) %> |
<%= link_to 'Atrás', branch_offices_path %>
