<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @charge.name %>
</p>

<%= link_to 'Editar', edit_charge_path(@charge) %> |
<%= link_to 'Atrás', charges_path, class: "btn btn-primary btn-sm pull-right" %>
